@charset "UTF-8";
#ff-wrapper {
  margin: 0;
  border-radius: 0;
  border: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #406fa9;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  display: none;
  z-index: 99999999;
  text-align: left;
  font-family: Consolas, Monospaced, sans-serif !important;
  font-size: 13px; }
  #ff-wrapper.active {
    display: flex; }
  #ff-wrapper > div {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 20px; }
    #ff-wrapper > div:last-child {
      margin-right: 0; }

#ff-prompt {
  height: 30px;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px;
  text-indent: 10px; }
  #ff-prompt:active, #ff-prompt:focus {
    outline: solid 1px #fff; }
  #ff-prompt.mode-search {
    background-color: #2a3056; }
    #ff-prompt.mode-search:before {
      content: "Search: ";
      opacity: 0.5; }
  #ff-prompt.mode-selector {
    background-color: #563938; }
    #ff-prompt.mode-selector:before {
      content: "Selector: ";
      opacity: 0.5; }
  #ff-prompt.mode-command {
    background-color: #000000; }
    #ff-prompt.mode-command:before {
      content: "Command: ";
      opacity: 0.5; }

.ff-match {
  box-shadow: inset 0 0 0 2px rgba(255, 0, 50, 0.2); }

input[type=submit].ff-match,
button.ff-match,
a.ff-match {
  box-shadow: inset 0 0 0 2px rgba(31, 255, 0, 0.75); }

.ff-current-index {
  box-shadow: inset 0 0 0 5px rgba(255, 0, 50, 0.5); }

input[type=submit].ff-current-index,
button.ff-current-index,
a.ff-current-index {
  box-shadow: inset 0 0 0 5px rgba(31, 255, 0, 0.75); }

.ff-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  background-color: #ff0032;
  text-align: center;
  color: #000;
  transform: translateX(-2px) translateY(-2px); }
  .ff-label:before {
    content: "➜";
    color: #ff0032;
    position: absolute;
    left: -20px;
    transform: rotate(45deg);
    top: -15px;
    font-size: 20px;
    opacity: 1; }
  .ff-label.active:before {
    content: "➜";
    color: #ff0032;
    position: absolute;
    left: -40px;
    transform: rotate(45deg);
    top: -20px;
    font-size: 40px; }

#ff-infoElement {
  text-align: left;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 30px;
  line-height: 30px; }

#ff-notificationElement {
  height: 30px;
  line-height: 30px; }
  #ff-notificationElement div.error {
    color: #f98594 !important; }
  #ff-notificationElement div.success {
    color: #95e45b !important; }

.ff-showClassesCommand-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  background-color: #000;
  color: #fff;
  font-size: 9px; }
