#ff-wrapper {
  margin: 0;
  border-radius: 0;
  border: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 3px 15px;
  box-sizing: border-box;
  display: none;
  z-index: 99999999;
  text-align: left;
  font-family: 'Times New Roman', Monospaced, sans-serif !important;
  font-size: 13px;

  &.active {
    display: flex;
  }
}

#ff-prompt {
  flex-basis: 50%;
  height: 25px;
  line-height: 25px !important;
  background-color: #000;
  padding: 2px;

  &:active,
  &:focus {
    outline: solid 1px orange;
  }
}

.ff-match {
  box-shadow: inset 0 0 0 2px rgba(255, 0, 50, 0.2);
}

input[type=submit].ff-match,
button.ff-match,
a.ff-match {
  box-shadow: inset 0 0 0 2px rgba(31, 255, 0, 0.75);
}

.ff-current-index {
  box-shadow: inset 0 0 0 5px rgba(255, 0, 50, 0.5);
}

input[type=submit].ff-current-index,
button.ff-current-index,
a.ff-current-index {
  box-shadow: inset 0 0 0 5px rgba(31, 255, 0, 0.75);
}

.ff-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  background-color: rgba(255, 0, 50, 1);
  text-align: center;
  color: #000;
  transform: translateX(-2px) translateY(-2px);
}

.ff-label:before {
  content: "➜";
  color: rgba(255, 0, 50, 1);
  position: absolute;
  left: -20px;
  transform: rotate(45deg);
  top: -15px;
  font-size: 20px;
  opacity: 1;
}

.ff-label.active:before {
  content: "➜";
  color: rgba(255, 0, 50, 1);
  position: absolute;
  left: -40px;
  transform: rotate(45deg);
  top: -20px;
  font-size: 40px;
}

#ff-infoElement {
  flex-basis: 50%;
  text-align: left;
  padding-left: 20px;
}
