$mainBarColor: #406fa9;
$activePromptOutlineColor: #fff;
$promptBackgroundColorSearch: #2a3056;
$promptBackgroundColorSelector: #563938;
$promptBackgroundColorCommand: #000000;

#ff-wrapper {
  margin: 0;
  border-radius: 0;
  border: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: $mainBarColor;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  display: none;
  z-index: 99999999999999999999999;
  text-align: left;
  font-family: Consolas, Monospaced, sans-serif !important;
  font-size: 13px;

  &.active {
    display: flex;
  }

  > div {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#ff-prompt {
  height: 30px;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px;
  text-indent: 10px;

  &:active,
  &:focus {
    outline: solid 1px $activePromptOutlineColor;
  }

  &.mode-search {
    background-color: $promptBackgroundColorSearch;
    &:before {
      content: "Search: ";
      opacity: 0.5;
    }
  }
  &.mode-selector {
    background-color: $promptBackgroundColorSelector;
    &:before {
      content: "Selector: ";
      opacity: 0.5;
    }
  }
  &.mode-command {
    background-color: $promptBackgroundColorCommand;
    &:before {
      content: "Command: ";
      opacity: 0.5;
    }
  }
}

.ff-match {
  box-shadow: inset 0 0 0 2px rgba(255, 0, 50, 0.2);
}

.ff-match-count-indicator {
  display: inline-block;
  background-color: transparent;
  height: 20px;
  line-height: 20px;
  text-align: center;

  &.over-zero {
    background-color: #95e45b;
    padding: 3px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    min-width: 30px;
    height: 30px;
    line-height: 25px;
  }
}

input[type=submit].ff-match,
button.ff-match,
a.ff-match {
  box-shadow: inset 0 0 0 2px rgba(31, 255, 0, 0.75);
}

.ff-current-index {
  box-shadow: inset 0 0 0 5px rgba(255, 0, 50, 0.5);
}

input[type=submit].ff-current-index,
button.ff-current-index,
a.ff-current-index {
  box-shadow: inset 0 0 0 5px rgba(31, 255, 0, 0.75);
}

.ff-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  background-color: rgba(255, 0, 50, 1);
  text-align: center;
  color: #000;
  transform: translateX(-2px) translateY(-2px);

  &:before {
    content: "➜";
    color: rgba(255, 0, 50, 1);
    position: absolute;
    left: -20px;
    transform: rotate(45deg);
    top: -15px;
    font-size: 20px;
    opacity: 1;
  }

  &.active:before {
    content: "➜";
    color: rgba(255, 0, 50, 1);
    position: absolute;
    left: -40px;
    transform: rotate(45deg);
    top: -20px;
    font-size: 40px;
  }
}

#ff-infoElement {
  text-align: left;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 30px;
  line-height: 30px;
}

#ff-notificationElement {
  height: 30px;
  line-height: 30px;

  div.error {
    color: #f98594 !important;
  }
  div.success {
    color: #95e45b !important;
  }
}

.ff-showClassesCommand-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  background-color: #000;
  color: #fff;
  font-size: 9px;
}
